<!--
* CSCI 2170: Intro to Server-Side Scripting
* Winter 2025
* Creating a very simple server using core Node modules
* Lecture 9: Feb 12, 2025
* -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML file</title>

    <link rel="shortcut icon" href="../assets/images/by-camylla-battani.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <header class="pg-banner">
        <h1>Logo</h1>

        <nav class="primary-nav">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </nav>
    </header>

    <main class="pg-main-content">
        <h2>Main content section heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et laborum saepe natus nostrum provident explicabo.
            Laudantium mollitia eligendi, qui dignissimos voluptatibus enim, dolor corrupti veritatis obcaecati maiores
            hic praesentium excepturi!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et laborum saepe natus nostrum provident explicabo.
            Laudantium mollitia eligendi, qui dignissimos voluptatibus enim, dolor corrupti veritatis obcaecati maiores
            hic praesentium excepturi!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et laborum saepe natus nostrum provident explicabo.
            Laudantium mollitia eligendi, qui dignissimos voluptatibus enim, dolor corrupti veritatis obcaecati maiores
            hic praesentium excepturi!</p>

            <form method="get">
                <label for="text-input">Enter thing!</label>
                <input type="text" name="thing" id="text-input">
                <input type="submit" value="Submit thing" name="input-submit">
            </form>
    </main>

    <footer class="pg-footer">
        <p>&copy; this website.</p>
    </footer>

    <script src="../scripts/behaviours.js"></script>

</body>

</html>